
body{
    background: #FAFBFE;
    overflow-x: hidden;
}

.button{
    margin-left: 2px;
    outline: none !important;
    border: none !important;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 3px;
    background: #156bb6;
    color: #fff;
    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}

.button:hover{
    margin-left: 2px;
    outline: none !important;
    border: none !important;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 3px;
    background: #286090;
    color: #fff;
    transition: 0.3s
    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}

.button-delete{
    margin-left: 3px;
    outline: none !important;
    border: none !important;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(223, 11, 11);
    color: #fff;

    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}


.button-delete:hover{
    margin-left: 3px;
    outline: none !important;
    border: none !important;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(192, 14, 14);
    color: #fff;
    transition: 0.3s;

    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}


.button-edit{
    margin-left: 2px;
    outline: none !important;
    border: none !important;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 3px;
    background: rgb(19, 180, 185);
    color: #fff;
    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}

.button-edit:hover{
    margin-left: 2px;
    outline: none !important;
    border: none !important;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 3px;
    background: rgb(12, 134, 138);
    color: #fff;
    transition: 0.3s;
    /* box-shadow: 0px 0px 5px 0px rgb(184, 188, 230); */
}



.card-view{
    overflow: hidden;
    border-radius: 1px;
    background: #fff;
    margin: 10px;
    padding: 15px 20px;
    box-shadow: 1px 2px 5px 2px #F1F3FA;
}


.input-box{
    outline: none !important;

    padding: 6px 10px;
    border-radius: 3px;
    font-size: 13px;
    background: #F1F3FA;
    border: 1px solid rgb(223, 223, 223);
}

.logo{
    margin: 20px 0;
    width: 25%;
    height: auto;
    border-radius: 100%;
}

.logout-btn{

    color: #fff;
    float: right;
    margin: 10px 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background: #22C5F6;

}

.logout-btn:hover{

    color: #fff;
    float: right;
    margin: 10px 10px;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    background: rgb(15, 174, 223);

}

.main{
    top:0;
    margin-left: 200px;
    width: auto;
    height: 100%;
    float: left;
}

th{
    color: #AE99F5;

}



.top-bar{
    position: fixed;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 1px 5px 2px #F1F3FA;
}

ul{
    margin: 0px;
    padding: 0px;
}

ul li a{
    padding: 10px;
    width: 100%;
    display: block;
    margin: 0px;
    list-style: none;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

ul li a:hover{

    padding: 10px;
    margin: 0px;
    background: #000;
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.active-option{
    border-left: 3px solid #22C5F6;
    padding: 10px;
    margin: 0px;
    background: #000;
    list-style: none;
}


.side-menu{
    width: 200px;
    height: 100%;
    float: left;
    background: #2F4050;
    position: fixed;

}


.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 4, 1, 0.23);
}