<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>LOGIN | CPANEL </title>

    <link rel="shortcut icon" type="image/x-icon" href="images/cpanel.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>



    <script>


        function searchText2() {
            $.get("/access_class",{cls:6} ,function (data, status) {
                alert(data);
            });
        }




        $(document).ready(function(){

            searchText2();

            $("#postData").click(function(){
                searchText();
            });

            $("#getData").click(function () {
                searchText2();
            });




            /*
            function searchText() {
                var AppUser = {
                    "id":1,
                    "email": "email@gmail.com",
                    "password": "mypass"
                }
                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: "/data",
                    data: JSON.stringify(AppUser), // Note : it is important
                    success: function (result) {
                        alert(result.toString()+"good luck......");
                    },
                    error: function (e) {
                        alert(e.toString());
                    }
                });
            }
            */


            /*
            function searchText2() {
                $.ajax({
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: "/data2",
                    //data: JSON.stringify(AppUser), // Note it is important
                    success: function (result) {
                        alert(result.toString()+"good luck......");
                    },
                    error: function (e) {
                        alert(e.toString());
                    }
                });
            }
            */



           // alert("Hello...");
        });




    </script>







</head>

<body style="background: #F6FAFB;">

    <center>

        <h4 style="margin-top: 80px; color: rgb(136, 136, 136);"> Please login at first to update information as an ADMIN.</h4>


        <p style="margin: 4px 0px 0px 6px; font-size: 11px; color: rgb(172, 172, 172);">Log in to get going.</p>
        
        <div class="login-box">
            <div  style="width: 100%; height: 60px; background: #777; border-radius: 3px 3px 0px 0px;">
               <h2 style= " margin:0px; padding: 15px 0px; color:rgb(255, 251, 24);" > cPanel </h2>
            </div>

            <form  action="/login" method="post">

                <div style="width: 100%; padding: 30px;">
 
                    
                     <p th:text="${login_error}" style="color: red; font-size: 12px;"></p>

                    <input  type="email" class="text-box" name="email" placeholder="Enter email" required/>
                    <input  type="password" class="text-box" name="password" placeholder="Enter password" required/>
                    <div style="display: flex; margin-top: 15px;" >
                          <input type="checkbox" class="check-box"  value=""/>  <p style="margin: 2px 0px 0px 5px; font-size: 11px;">  Remember me </p>
                    </div>
                    
                    <input type="submit" value="Login" class="login-bnt"/>


                </div>

            </form>

        </div>

    </center>








    <!--<button id="postData" style="margin-top:20px;">Send data to controller</button>-->
    <!--<button id="getData" style="margin-top:20px;">Click to get Data</button>-->











</body>

</html>